:root {
  --base-color:#2c2626;
  --base-font-color: #e1e1e1;
  --font-yellow: #f4ed9f;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--base-font-color);
  background-color:var(--base-color);
}

header > h1,
header > p {
  text-align: center;
}

header > h1 {
  font-size: 5rem;
}

header > p {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

section,
section:not(:last-child) {
  margin-bottom: 40px;
}

hr {
  margin: 0 5px 10px 5px;
  width: 70%;
}

/* Top Nav */
nav > ul {
  list-style: none;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
}

.top-nav a {
  color: var(--font-yellow);
}

/* Header */
.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.profile-img {
  width: 400px;
  border-radius: 5px;
  margin: 0 auto;
}

/* About me */
.about-me {
  margin: 0 10px;
}

.about-me > h3 {
  margin-bottom: 20px;
}

.about-me a {
  color: var(--font-yellow);
}

.table {
  width: 70%;
}

.my-value {
  font-size: 1.2rem;
}

.education,
.work-experience {
  width: 50%;
  text-align: -webkit-center;
  float: left;
}

/* My work */
.my-work {
  color: var(--base-color);
  margin: 0 10px;
}

.my-work > h2 {
  color: var(--base-font-color);
}

.my-work > .row {
  margin-right: 0;
  margin-left: 0;
}

.my-work > .row > h3 {
  margin: 0 15px 5px 15px;;
}

.row {
  margin-bottom: 20px;
}

.row.display-flex {
  display: flex;
  flex-wrap: warp;
}

.thumbnail {
  text-align: center;
  height: 100%;
}

.thumbnail > h3 {
  margin-bottom: 20px;
}

.thumbnail > img {
  width: 380px;
  margin-bottom: 10px;
  box-shadow: 1px 1px #ececec
}

.thumbnail > p {
  padding: 10px
}

/* Footer */
footer {
  margin: 0 !important;
  width: 100% !important;
  background-color: var(--font-yellow); 
}

footer > .row {
  margin-top: 50px;
}

footer > .row p {
  color: var(--base-color);
}

footer > .row a {
  color: var(--base-color);
}

footer > .row a:hover {
  color: #8c8000;
}

.footer-img {
  width: 200px;
}

.follow-me {
  list-style-type: circle;
}

footer > p {
  color: var(--base-color);
  text-align: center;
  font-size: 0.8rem;
}
